.about {
  @include flex-centered;

  &__image-group {
    display: flex;
  }

  &__image-left {
    @include flex-column;
  }
  
  &__image-right {
    margin: 60px 30px 0;
  }

  &__image1 {
    margin: 30px 0;
  }

  &__image3 {
    margin-top: 20px;
  }
  
  &__image1,
  &__image2,
  &__image3 {
    width: 270px;
    min-width: 200px;
    transition: transform 1s ease-out;
    
    &:hover {
      transform: scale(1.2);
    }
  }

  &__description {
    padding: 20px 0;
    font-weight: $font-weight-light;
    font-size: 1.3em;
    line-height: 25px;
    color: $dark-color;
  }

  &__info {
    max-width: 450px;
    padding-top: 30px;
  }

  
  @media (max-width: $middle-screen-breakpoint) {
    @include flex-centered-column;
    justify-content: center;

    &__image-group {
      flex-direction: column;
    }

    &__image-right {
      margin: 0;
    }

    &__title {
      text-align: center;
    }
  }
}
