.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: $gray6;
  color: $main-color;
  font-weight: $font-weight-bold;
  font-size: 1.16em;
  line-height: 24px;
  letter-spacing: 0.03em;

  &__menu,
  &__contacts {
    @include flex-column;
  }

  &__link,
  &__item {
    text-decoration: none;
    color: $main-color;
    padding: 10px;
    margin-bottom: 6px;
  }

  &__link {
    transition: color 500ms ease;

    &:hover {
      color: $accent1;
    }
  }

  &__link--geo {
    margin-bottom: 20px;
  }

  &__item {
    font-weight: $font-weight-bold;
    font-size: 1.3em;
    line-height: 20px;
  }

  &__icon {
    padding-right: 20px;
  }
  
  &__social-background {
    transition: fill 1s ease-out;
  }

  &__social-icon {
    padding: 20px;
    margin-right: 10px;
    border: none;
    color: $gray6;
    
    &:hover .contacts__social-background {
      fill: $accent1;
    }
  }

  @media (max-width: $tablet-screen-breakpoint) {
    grid-template-columns: 1fr 1fr 1fr;

    &__social-icon {
      margin: 0;
      padding: 10px;
    }
  }

  @media (max-width: $small-screen-breakpoint) {
    grid-template-columns: 1fr 1fr;

    &__logo {
      display: none;
    }

    &__link--geo {
      margin: 0;
    }

    &__icon {
      padding-right: 5px;
    }
  }
}
