.footer {
  background-color: $gray6;
  text-align: center;
  
  &__decor {
    color: $main-color;
    opacity: 0.1;
  }
  &__text {
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: $gray7;
    padding: 24px 0;
  }
}
