.header {
  padding: 30px 135px 60px;
  
  &__logo {
    width: 70px;
    height: 40px;
  }

  &__top {
    @include flex-spaced;
    align-items: baseline;
  }

  &__button {
    border-style: none;
    background-color: $main-color;

    &:hover .header__svg--arrow {
      fill: $accent1;
      transition-duration: 0.5s;
    }

    &:hover .header__svg--background {
      fill: $gray2;
      transition-duration: 0.5s;
    }
  }

  &__button--next {
    transform: scale(-1, 1);
    margin-left: 23px;
  }

  &__container {
    @include flex-spaced;
    padding-top: 45px;
    align-items: center;
  }

  &__image,
  &__image2 {
    width: 100%;
    max-width: 770px;
    height: 830px;
  }

  &__arrows {
    padding: 90px 0;
  }

  &__text {
    font-size: 64px;
    line-height: 64px;
    text-transform: uppercase;
  }

  &__project {
    font-weight: $font-weight-light;
    color: $gray4;
  }

  &__home {
    font-weight: $font-weight-extrabold;
    color: $gray1;
  }

  &__numbers {
    font-weight: $font-weight-regular;
    font-size: 24px;
    line-height: 24px;
    color: $gray4;
    letter-spacing: 15px;
  }

  &__info {
    padding-right: 80px;
  }

  &__image-button {
    position: absolute;
    bottom: 2px;
    left: -1px;
  }

  &__button-svg {
    transform: scale(-1, 1);
  }

  &__svg-img-button {
    stroke: $main-color;
    transition: all 1s ease;
  }

  @media (max-width: $tablet-screen-breakpoint) {
    padding: 20px;

    &__image-button {
      bottom: 0;
    }

    &__container {
      flex-direction: column-reverse;
    }

    &__info {
      @include flex-centered-column;
      padding-right: 0;
    }

    &__arrows {
      @include flex-spaced;
      padding: 10px 0;
    }

    &__text {
      text-align: center;
      font-size: 40px;
      line-height: 40px;
    }

    &__numbers {
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 10px;
    }
  }

  @media (max-width: $small-screen-breakpoint) {
    &__image,
    &__image2 {
      height: 300px;
    }
  }
}
