.link-button {
  width: 222px;
  height: 71px;
  background-color: $main-color;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $gray1;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 1s ease;

  &:hover {
    color: $accent1;
    background-color: $gray2;
  }

  &:hover .header__svg--arrow {
    fill: $accent1;
  }

  &:hover .header__svg-img-button {
    fill: $gray2;
    stroke: $gray2;
  }
}
