.link-button {
  @include flex-centered;
  width: 222px;
  height: 71px;
  background-color: $main-color;
  font-size: 1em;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $gray1;
  border-style: none;
  align-items: center;
  text-decoration: none;
  transition: all 500ms ease;

  &:hover {
    color: $accent1;
    background-color: $gray2;
  }

  &__svg--arrow {
    transition: 500ms ease;
  }

  &:hover .link-button__svg--arrow {
    fill: $accent1;
  }

  &__svg {
    margin-left: 15px;
  }
}
