.title {
  font-weight: $font-weight-light;
  font-size: 5.3em;
  line-height: inherit;
  color: $gray4;

  @media (max-width: $tablet-screen-breakpoint) {
    font-size: 3em;
    line-height: 3em;
    text-align: center;
  }
}
