.tasks {
  &__image {
    margin-right: 30px;
  }

  &__group {
    display: flex;
    padding-top: 62px;
  }

  &__group--left,
  &__group--right {
    display: flex;
    max-height: 150px;
  }

  &__text {
    font-size: 1.8em;
    line-height: 36px;
    color: $gray1;
  }

  &__group--left {
    margin-right: 50px;
  }

  @media (max-width: $tablet-screen-breakpoint) {
    @include flex-centered-column;

    &__group {
      flex-direction: column;
      max-width: 500px;
    }

    &__group--left {
      margin-right: 10px;
      margin-bottom: 50px;
    }

    &__image-first {
      margin-right: 60px;
    }

    &__text {
      font-size: 16px;
      line-height: 25px;
    }
  }
}
