* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

// @font-face {
//   font-family: 'TTHoves', sans-serif;
//   src: url('../../fonts/TTHoves-Light.woff2') format('woff2');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'TTHoves', sans-serif;
//   src: url('../../fonts/TTHoves-Regular.woff2') format('woff2');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'TTHoves', sans-serif;
//   src: url('../../fonts/TTHoves-Bold.woff2') format('woff2');
//   font-weight: 500;
//   font-style: normal;
// }
