$gray1:#333;
$gray2: #f9f9f9;
$gray3: #f3f3f3;
$gray4: #bdbdbd;
$gray5: #8d8d8d;
$gray6: #2c2c2c;
$gray7: rgba(200, 200, 200, 0.5);

$accent1: #2b7080;
$main-color: #fff;
$dark-color: #000;
$danger-color: #d35353;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;
$font-weight-extrabold: 700;

$small-screen-breakpoint: 600px;
$middle-screen-breakpoint: 1000px;
$tablet-screen-breakpoint: 1024px;
